.couponForm {
  display: "flex";
  justify-content: "center";
  padding-top: 10;
}

.invalidMessage {
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  background-color: red;
  color: white;
}

.tryAgainBtn {
  float: right;
  margin-top: 8px;
}

.correctCoupon {
  color: rgb(0, 126, 0);
  margin-bottom: 0;
}