body {
  font-family: Lato;
  padding: 0;
  margin: 0;
}

nav {

  background-color: $yellow-base;
  width: 100%;
  padding: $s $m;
  .nav-item {
    display: inline-block;
    vertical-align: middle;
  }
  .nav-item-right {
    float: right;
    margin-right: $l;
  }
}


.logo {
  width: 6em;
}

@media only screen and (max-width: 400px) {
  .logo { 
    width: 4em;
  }
  .nav-item-right {
    margin-right: $s;
  }
}