body {
  font-family: Lato;
  padding: 0;
  margin: 0;
}

.logo {
  width: 6em;
}


nav {

  background-color: $yellow-base;
  padding: $s $m;
  .nav-item {
    display: inline-block;
    vertical-align: middle;
  }
  .nav-item-right {
    float: right;
  }
}


footer {
  margin-top: $l;
  padding: $m $m;
  background-color: $dark-gray;
  color: $yellow-base;

  text-align: center;

  .footer-item {
    display: inline-block;
    margin: $s;
  }

  .footer-links {
    margin-top: $m;
  }
}



@media only screen and (max-width: 400px) {
  .logo { 
    width: 4em;
  }
  .nav-item {
    display: block;
  }
}