.hyperlink {
  color: $dark-gray;
  text-decoration: none;
  margin: 0 $s 0 0;
  &:hover {
    text-decoration: underline;
  }
}

.hyperlink-invert {
  color: $yellow-base;
  text-decoration: none;
  margin: 0 $s 0 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.black-yellow {
  color: $dark-gray;
  border: $xs/2 solid $dark-gray;
  border-radius: $xs;
  font-size: 1em;
  padding: $s $m;
  margin: $s;
  background-color: transparent;


  &:hover {
    color: $yellow-base;
    background-color: $dark-gray;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  &:focus {
      outline: none;
  }

}


.shadow-box {
  padding: $l;
  border-radius: $xs;
  box-shadow: $xxs $xs $m -$xs rgba(0,0,0,0.20);
}


.edit-menu {
  width: 45%;
  display: inline-block;
}


.preview-menu {
  width: 45%;
  float: right;
}

.restaurant-logo {
  width: 1.5em;
  vertical-align: middle;
  margin-right: $s;
 }


@media only screen and (max-width: 400px) {
  .black-yellow {
    margin: $xs;
    padding: $xs $s;
  }
  .preview-menu {
    display: none;
  }
  .edit-menu {
    width: 100%;
  }
}