.hyperlink {
  color: $dark-gray;
  text-decoration: none;
  margin: 0 $s 0 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.hyperlink-invert {
  color: $yellow-base;
  text-decoration: none;
  margin: 0 $s 0 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.btn-link {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.black-yellow {
  color: $dark-gray;
  border: $xs/2 solid $dark-gray;
  border-radius: $xs;
  font-size: 1em;
  padding: $s $m;
  margin: $s;
  background-color: transparent;


  &:hover {
    color: $yellow-base;
    background-color: $dark-gray;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  &:focus {
      outline: none;
  }

}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  transition-duration: 0.2s;
}
.fadeout {
  display: none;
}
.fadein {
  opacity: 1;
}

.header {
  margin: 0 $xxxl;
  .header-features {
    display: inline-block;
    margin: 0 0;
    width: 50%;
    .feature {
      h3 {
        margin: $m 0;
      }

      i {
        vertical-align: middle;
        margin-left: $s;
        color: $yellow-base;
      }
      p {
        margin: $s 0 $s $m;
        max-width: 400px;
      }
    }
    
  }
  .learn-more {
    margin: $l 0 $m 0;
  }
  .intro-img {
    width: 30%;
    margin: $l 0 0 0;
    display: inline-block; 
    vertical-align: top;
    max-width: 300px;
    img {
      width: 180%;
    }
  }
}

.social-icon {
  width: $l;
  vertical-align: middle;
  margin: $s;
}

.shadow-box {
  padding: $l $l $xxl $l;
  border-radius: $xs;
  box-shadow: $xxs $xs $m -$xs rgba(0,0,0,0.20);
  margin-bottom: $l;
}

.eos-icons {
  vertical-align: middle;
}

.edit-menu {
  width: 47%;
  display: inline-block;
}

.align-center {
  text-align: center;
}

.preview-menu {
  width: 100%;
}

.preview-modal {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  text-align: center  ;
  overflow: scroll  ;
}

.restaurant-logo {
  width: 1.8em;
  vertical-align: middle;
  margin-right: $s;
 }

 .preview-btn {
   display: none;
 }

 .menu-item {

  .item-name {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 1.1em;
  }

  .item-price {
    float: right;
    margin: 0;
  }

  .item-description {
    font-size: small;
    word-wrap: break-word;
  }
 }

 .delete-icon {
   color: $light-gray;
   cursor: pointer;
   &:hover {
     color: red;
   }
 }

 .loading-icon {
  width: 10em;
  vertical-align: middle;
  display: inline-block;
}

.loading-div {
  margin-bottom: 40%;
  text-align: center;
}


.qr-sticker {
  width: 400px;
}


// check box

.checkbox-switch {
  input[type="checkbox"] {
    vertical-align: middle;
    margin-left: $s;
    position: relative;
    width: $xxl;
    height: $l;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    cursor: pointer;
    border-radius: $m;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;
  }
  
  input:checked[type="checkbox"] {
    background: $yellow-base;
  }
  
  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: $xl;
    height: $xl;
    border-radius: $m;
    top: -$xs;
    left: -$xs;
    background: #fff;
    transform: scale(0.6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 300ms linear;
  }
  
  input:checked[type="checkbox"]::before {
    left: $m + $xs;
  }
}


@media only screen and (max-width: 700px) {
  
  .header {
    .header-features {
      display: block;
      width: 100%;
    }
    .intro-img {
      width: 15em;
      margin: $l 0;
    }
    margin: $l 0;
  }
  .preview-menu {
    display: inline-block;
    float: none;
    width: 100%;
  }
  .edit-menu {
    width: 100%;
    display: inline-block;
  }
  .preview-btn {
    display: block;
  }

}

@media only screen and (max-width: 500px) {
  .header {
    .intro-img {
      width: 12em;
    }
  }

  .qr-sticker {
    width: 250px;
  }
  .shadow-box {
    padding: $l $s $xxl $s;
  }
}

@media only screen and (max-width: 400px) {
  .black-yellow {
    margin: $xs;
    padding: $xs $s;
  }

  .header {
    .intro-img {
      width: 10em;
    }
  }
}

// How-It-works

.how-it-works-div {
  padding: 1.5rem;
  margin: $xxl;
  min-height: 200px;
}

.imgLeft{
  width: 50%;
  float: left;

  img{
    width: 400px;
    box-shadow: $xxs $xs $m -$xs rgba(0,0,0,0.30);
  }

}


.imgRight{
  width: 50%;
  float: right;

  img{
    width: 400px;
    float: right;
    margin-left: $xl;
    box-shadow: $xxs $xs $m -$xs rgba(0,0,0,0.30);
  
  }

}

.textLeft{
  width: 50%;
  float: left;
  text-align: left;
}

.textRight{
  width: 50%;
  float: right;
  text-align: left;

}


@media only screen and (max-width: 1000px){
  
  .how-it-works-div {
    text-align: center;
    height: auto;
    margin: $s;
    margin-bottom: $xxl;
  }
  .imgLeft, .imgRight {
    
    img {
      width: 200px;
      margin-left: $xs;
    }
    float: none;
    width: auto;
  }

  .textLeft, .textRight {
    float: none;
    width: auto;
  }

}



.popup-preview-menu {
  min-width: 45%;
  button {
    display: none;
  }

}


@media(max-width:800px) {
  .popup-preview-menu  {
    min-width: auto;
    float: none;
    button {
      display: block;
      position: fixed;
      top:40px;
      right:0;
      background-color: blueviolet;
      padding:10px;
      color:white;
      border:0;
      outline: none;
      z-index: 300;
      min-width:100px;
    }

    .popup-preview-content {
      position: fixed;
      top:0;
      background-color: white;
      left:-1000px;
      transition: left 0.5s;
      max-width: 100%;
      overflow-x: hidden;
      .popup-preview-scroll {
        max-height: 100vh;
        overflow-y: scroll;
        max-width:450px;
      }

    }

    .active {
      left:0;
    }

  }
}



.create-menu-container {
  display: flex;
  justify-content: space-between;
}

@media(max-width:800px) {
  .create-menu-container {
    justify-content: center;
  }
  
}