.DealTracker {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  .dealTrackerContent {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 100px;
    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
    h3 {
      margin-top: 0;
      font-weight: 400;
      margin-bottom: 40px;
    }

  }

  .imagerWrapper {
   background-size: cover;
   background-repeat: no-repeat;
  }

  .trackForm {
    div {
      position: relative;
      label {
        position: absolute;
        top:-10px;
        margin-left: 8px;
        display: block;
        background-color: white;
      }
      input {
        display: block;
        width: 100%;
        padding:12px;
        border-radius: 4px;
        border: 1px solid #303030;
      }
      margin-bottom: 40px;

      &.formSubmitWrapper {
        display: flex;
        justify-content: center;
        
        button {
          background: #303030;
          border-radius: 5px;
          padding: 10px 25px;
          font-size: 14px;
          color: #E8AA00;
        }
      }
    }
  }
  
}

.personalDetails {
  text-align: left;
  margin-left: 10%;
  p {
    margin: 8px 0px 24px 0px;
  }
  h2 {
    margin: 0;
  }
  button {
    border: none;
    background-color: #E8AA00;
    color: white;
    padding: 12px 16px;
    margin: 6px;
    border-radius: 4px;
    i {
      margin-left: 8px;
    }
  }
  
}

table {
  width: 80%;
  margin: 32px 0px;
  margin-left: 10%;
  border-radius: 8px;

  th {
    background-color: rgb(39, 39, 39);
    border: 0px none;
    color: #E8AA00;
    padding: 16px;
  }
  tr {
    background-color: rgb(201, 201, 201);
  }
  td {
    padding: 16px;
    font-weight: bold;
  }
}

.confirmedStatus {
  background-color: #52B467;
  color: white;
  i {
    margin: 0 4px;
  }
}

.inProgressStatus {
  background-color: #E8AA00;
  color: white;
  i {
    margin: 0 4px;
  }
}

@media(max-width:500px) {
  .DealTracker {
    grid-template-columns: auto;

    .imagerWrapper {
      display: none;
    }
  }
  table {
    width: 94%;
    margin-left: 3%;
  }
}